<form method="post" action="{{ path('app_ali_delete', {'id': alimento.id}) }}" onsubmit="return confirm('SEGURO QUE LO QUIERES ELIMINAR?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ alimento.id) }}">
    <button id="boton" class="btn">Delete</button>
</form>
